body{
font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #646769;
    }
    
    .calculator {
      width: 500px;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .screen {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      text-align: right;
      font-size: 1.5em;
      padding: 1px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #f9f9f9;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    button {
      height: 50px;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      background: #007BFF;
      color: white;
      cursor: pointer;
      transition: background 0.3s;
    }
    button:hover {
      background: #0056b3;
    }
    .scientific{
        margin: 3%;
        letter-spacing: 5px;
        margin-left: 180px;
        background-color: #15b300;
    }
    a{
      text-decoration: none;
      color: white;
    }
    .calculator{
      background-color: yellow;
    }
    .egal{
      background-color: black;
    }
    .clean{
      background-color: rgb(255, 0, 21);
    }
    .del{
      background-color: burlywood;
    }